@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur VcubWatcher</h1>
    <h2>Ranaivoson Romain</h2>
    <ul>Liste des objectifs</ul>
    <li>Faire le layout du site</li>
    <li>Exploiter les données de l'API pour faire la page liste des stations</li>
    <li>Afficher les données sous forme de carte</li>
    <li>Système de favoris</li>
</div>